<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        <script type="module" src="/js/pages/hourlyCityFocus.js"></script>
    </head>
    <body>
        {% include "navbar.njk" %}
        <main>
            <section class="section">
                <div class="container has-text-centered">
                    <div class="content has-text-centered">
                        <h1 class="title is-1 is-spaced" id="hourlyCityFocusTitle"></h1>
                        <p class="is-size-1" id="current_time"></p>
                    </div>
                    <hr>
                    <div class="columns has-background-dark">
                        <div class="column">
                            <div class="card has-text-centered">
                                <div class="card-image has-background-dark">
                                    <div style="width:90%; height:20%" id="current_weather_code_image"></div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-vcentered mt-6">
                            <div class="box has-text-centered has-background-black has-text-white">
                                <p class="is-size-5 is-uppercase">Temperature</p>
                                <p class="is-size-2" id="current_temperature"></p>
                                <hr>
                                <p class="is-size-5 is-uppercase">Real Feel</p>
                                <p class="is-size-2" id="current_real_feel"></p>
                            </div>
                        </div>
                        <div class="column is-vcentered mt-6">
                            <div class="box has-text-centered has-background-black has-text-white">
                                <p class="is-size-5 is-uppercase">Wind speed</p>
                                <p class="is-size-2" id="current_wind_speed"></p>
                                <hr>
                                <p class="is-size-5 is-uppercase">Rain Probabiility</p>
                                <p class="is-size-2" id="current_precipitation_probability"></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <hr>
                    <hr>
                    <table class="table is-striped is-fullwidth">
                        <thead class="is-size-5 has-text-centered">
                            <tr class="has-background-black">
                                <th></th>
                                <th class="has-text-white has-text-centered">Temperature</th>
                                <th class="has-text-white has-text-centered">Real Feel</th>
                                <th class="has-text-white has-text-centered">Wind Speed</th>
                                <th class="has-text-white has-text-centered">Rain Probability</th>
                            </tr>
                        </thead>
                        <tbody class="is-size-5">
                            {# Setting values (from 0 to 23) to the {{ hour }} variable in hourlyCityFocusTile.njk #}
                            {% for hour in range(0, 23) %}
                            {% include "hourlyCityFocusTile.njk" %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        {% include "footer.njk" %}
    </body>
</html>