<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        <script type="module" src="/js/pages/index.js"></script>
    </head>
    <body>
        {# Setting page = "dashboard" (index, main page) for the njk if statement (making the active page visible) in navbar.njk #}
        {% set page = "dashboard" %}
        {% include "navbar.njk" %}
        <main>
            <section class="section">
                <div class="container has-text-centered"> 
                    <h2 class="subtitle is-3 has-text-weight-bold">Today's Forecast</h2>
                    <hr>
                    <h2 class="subtitle is-size-4 has-text-centered">Click on a city for this week's forecast</h2>
                    <div class="columns is-desktop is-multiline">
                        {# Creating an array of cities to iterate over to create a city tile using the njk template (cityTile.njk) #}
                        {% set cities = ["amsterdam", "berlin", "copenhagen", "cork", "new_york", "paris", "san_francisco", "tromso", "waterford"] %}
                        {# For each element(city) of the cities array create an intance of cityFavSwitch #}
                        {% for city in cities %}
                        {% include 'cityTile.njk' %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
        {% include "footer.njk" %}
    </body>
</html>