<footer class="footer mt-auto">
    <div class="tabs is-centered">
        <div class="container">
            <ul>
                <li>
                    <a href="/index">
                        <span class="icon">
                            <i class="fas fa-home m-3"></i>
                        </span>
                        <span>(Wheter)Weather</span>
                    </a>
                </li>
                <li>
                    <span class="icon">
                        <i class="fa-solid fa-square-phone m-3"></i>
                    </span>
                    <span>Contact: Mari Cruz Lopez, 20108907@mail.wit.ie</span>
                </li>
            </ul>
        </div>
    </div>
    </footer>