<!--Required meta tags-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--Bulma CSS-->

<title>(Whether)Weather - Home</title>
<link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png"/>

<link rel="stylesheet" href="/css/bulma.min.css"/>
<!-- Setting the switch button -->
<link rel="stylesheet" href="/css/bulma-extensions.min.css"/> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{# Importing Font Awesome (icons) #}
<script src="/js/all.js"></script> 
<script type="text/javascript" src="/js/weather_data/weather_data.js"></script>