<tr>
    <td>
        <div class="columns has-background-dark is-vcentered">
            <div class="column is-two-thirds">
                {# By dynamicly setting the variable {{ hour }} on this element I can access it in javascript by using its unique id #}
                 <p class="is-size-1 has-text-white" id="{{ hour }}_time"></p>
            </div>
            <div class="column">
                <div class="box has-background-dark" style="height: 50%; width: 50%;" id="{{ hour }}_weather_code_image"></div>
            </div>
        </div>
    </td>
    <td class="is-size-3" id="{{ hour }}_temperature"></td>
    <td class="is-size-3" id="{{ hour }}_real_feel"></td>
    <td class="is-size-3" id="{{ hour }}_wind_speed"></td>
    <td class="is-size-3" id="{{ hour }}_precipitation_probability"></td>
</tr>